body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    cursor:pointer
}

header {
    background-color: rgb(101, 164, 106);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 0.2;
}

.box {
    display: flex;
    justify-content: space-around;
}

.list {
    flex: 1;
    margin: 0 10px;
    line-height: 0.6;
}

.list h2 {
    background-color: rgb(55, 108, 89);
    color: white;
    padding: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: solid #73AD21;
    line-height: 0.4;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 10;
    margin-bottom: 80px;

}

.list ul li {
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 25px;
    border: solid #73AD21;
    text-align: center;

}
.list ul li:hover {
    background-color: #38ac8b;
}


footer {
    background-color: rgb(101, 164, 106);
    color: white;
    text-align: center;
    padding: 2px ;
    position: fixed;  
    bottom: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;

}

#dragon {
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 7s infinite;
  }
  
  @keyframes mymove {
    0%   {top: -10px;}
    25%  {top: 20px;}
    75%  {top: 10px}
    100% {top: 20px;}
  }