body{
    height: 100%;
    overflow: hidden;
}

#home{
    position: fixed; 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 1000px) {
    .homepage img{
        background-position: center; 
        background-size: cover; 
        width: 100vw;
        height: 100vh;
        height: auto;
    }
}

#playgame{
    padding: 10px 20px; 
    font-size: 36px; 
    font-weight: bold; 
    color: white; 
    background-color: rgb(30, 154, 185); 
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-left: 40%;
    margin-top: 40%;
    transition: transform 0.3s ease-in-out;
}

#playgame:hover{
    transform: translatey(-5px);
}

#Instruction{
    padding: 10px 20px; 
    font-size: 36px; 
    font-weight: bold; 
    color: white; 
    background-color: rgb(30, 154, 185); 
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 15px; 
    cursor: pointer; 
    /* transition: background-color 0.3s ease; */
    margin: 6px;
    margin-right: 25%;
    margin-top: 10%;
    /* transition: transform 0.3s ease-in-out; */
}

#Instruction:hover{
    transform: translateY(-5px);
}

#ingame{
    display: none;
    font-family: "Oswald", sans-serif;
    position: fixed; 
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    transform: rotateY(0deg); 
}


.card-row1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1%;
    left: 0.05%;
}

/* .card-row2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 19.5%;
    left: 12.75%;
} */

.card{
    width: 12%; 
    height: auto; 
    display: block;
    padding-top: 3%;
    padding-inline-start: 6.8%;
    padding-right: 6.8%;
}


#startgame{
    position: absolute;
    display: none;
    cursor: pointer; 
    text-align: center;
    transform: translateX(438%);
    top: 500px;

    
    padding: 0.65em 1em;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: rgb(20, 99, 27);
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;

}

#startgame:hover{
    background-color: white;
    color: rgb(20, 99, 27);
    border-color: rgb(20, 99, 27);
}

#quit{
    transform: translateX(10%);
    padding: 0.65em 1em;
    border: 3px solid rgb(20, 99, 27);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(20, 99, 27);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;

    top: 590px;
    left:1250px;

}

#quit:hover{
    background-color: rgb(20, 99, 27);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

#roll{
    position: absolute;
    transform: translateX(293%);
    display: flex;


    align-items: center;
    justify-content: center;
    /* padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(20, 99, 27);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem; */
    padding: 17px 40px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;


    
    top: 580px;
}

#roll:hover{
    border-color: #000000;
    /* transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95); */
    background-color: hsl(133, 52%, 36%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(224, 229, 226) 0px 7px 29px 0px;
}


  .card-back, .card-front {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card-front {
    display: flex;
    justify-content: center; 
    align-items: top;
    margin: 4%;
    top: 2%;
  }

  .card-front img {
    position: relative;
    width: 48%; 
    height: auto; 
    transform: translateX(118%);

}

.card-front2 {
    display: flex;
    justify-content: center; 
    align-items: top;
    margin: 4%;

  }

  .card-front2 img {
    position: relative;
    width: 108%; 
    height: auto; 
    transform: translate(420%,-72%);
}


  .card.flipped .card-back {
    transform: rotateY(180deg);
  }
  .card.flipped .card-front {
    transform: rotateY(0deg);
  }

  #score{
    position: absolute;
  }

  .score1{
    transform: translateX(10%);
    position: relative;
    color: #ffffff;
    font-size: 72px;
    
    top: -150px;
    left: 190px;
 
  }

  .score2{
    display: block;
    transform: translateX(10%);
    position: relative;
    color: #ffffff;
    font-size: 72px;

    top: -230px;
    left: 1210px;
  }


  #turn{
    color: #ffffff;
    position: relative;
    left: 30px;
    top: 480px;

  }

  #switching{
    color: #ffffff;
    position: absolute;

    left: 30px;
    bottom: 110px;

  }

#rollagain{
    transform: translateX(10%);
    position: absolute;
    
    padding: 17px 40px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

    left:500px;
    bottom: 100px;
  }

#rollagain:hover{
  letter-spacing: 3px;
  background-color: hsl(133, 52%, 36%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(224, 229, 226) 0px 7px 29px 0px;
}

#pass{
    transform: translateX(10%);

    padding: 17px 40px;
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

    position: absolute;
    left: 750px;
    bottom: 100px;
  }

  #pass:hover{
    letter-spacing: 3px;
    background-color: hsl(133, 52%, 36%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(224, 229, 226) 0px 7px 29px 0px;
  }

  #win{
    color: #ffffff;
    position: relative;
    left: 400px;
    top: 100px;
    font-size: 55px;
  }



  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

  

.overlayContent {
  position: relative;
  top: 25%;
  width: 50%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  cursor: auto;
  background-color: rgb(228, 206, 224);
}

.overlayContent h2{
  text-align: center;
  text-decoration: underline;

}

.overlayContent p{
  text-align: center;
  line-height: 2;

  
}
.closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}